:root {
    --bg-main: #1B2430;
    --main-t-color: #f5f5f5;
    --bg-secondary: #0A043C;
    --s-t-color: forestgreen;
    --t-t-color:#000;
    --btn-bg: forestgreen;
    --s-bg-color:rgba(0, 0, 0, .1);
    --f-t-color:rgba(255,255,255,.5)
 }

.profile-container {
    height: calc(100vh - 125px) !important;
    overflow-y: auto;
    margin-top: 20px;
}

.profile-container::-webkit-scrollbar {
    width: 4px;
    border-radius: 50%;
}

.profile-container::-webkit-scrollbar-thumb {
    background-color: var(--s-bg-color);
}

.profile-pic-main {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 20px;
}

.profile-pic-main img {
    width: 100%;
}
.user-basic-info i{
    color: white;
    margin-top: 15px;
    color: blue;
}
.user-basic-info .fa-venus{
    color: pink !important;
}
.user-basic-info h1{
    margin: 5px 0 5px 0;
    color: var(--s-t-color);
    font-size: 20px;
    font-weight: 600;
}
.user-basic-info p{
    font-size: 13px;
    color: var(--main-t-color);    
}